.journals {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  overflow: hidden;
  position: relative;
  flex-shrink: 10;
  transition: flex-shrink 0.4s;
}

.jurnals_touched {
  flex-shrink: 9;
}

.journals_type_a {
  font-size: 2em;
}

.journals_type_b {
  font-size: 3em;
}

.journals_type_c {
  font-size: 2.45em;
}

.journals__block {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.journals__block:hover {
  background-color: aliceblue;
}

.journals__block:hover .journal {
  color: black;
}

.journals__sound {
  width: 100%;
  height: 100%;
  padding: 0.5vh;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.journals__sound:hover {
  background-color: aliceblue;
}

.journals__sound:hover .audio {
  border: 1vh solid black;
  background-color: black;
}

.journal {
  width: 45vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: var(--font-family);
  color: aliceblue;
  animation: move-text 20s linear infinite alternate forwards;
  white-space: pre-line;
}

.audio {
  width: 95%;
  height: 2vw;
  margin: 1vh;
  box-sizing: border-box;
  background-color: white;
  border: 1vh solid white;
  border-radius: 2px;
}

@keyframes move-text {
  0% {
    transform: translate(0vh, 0);
  }

  100% {
    transform: translate(-5vh, 0);
  }
}

@media (max-width: 450px) {
  .audio {
    min-height: 40px;
  }
}

@media (max-width: 450px) {
  .journals {
    display: flex;
    flex-direction: row;
  }
}