.memory-ring {
  margin: auto;
  position: absolute;
  right: 0;
  left: -4vh;
}

.memory-ring:hover .memory-ring__lit {
  opacity: 1;
}

.memory-ring:hover .memory-ring__title {
  opacity: 1;
}

@keyframes shine {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 0.9;
  }
}
