.popup__text {
  width: 60%;
  height: auto;
  margin: 0;
  font-family: var(--font-family);
  font-size: 2em;
  color: #fff;
  text-align: center;
}

@media (max-width: 450px) {
  .popup__text {
    width: 90%;
    height: auto;
    font-size: 1.8em;
  }
}