.popup__video {
    background-color: black;
    display: flex;
    position: absolute;
    z-index: 10;
}

@media (max-width: 450px) {
    .popup__video {
        transform: rotate(-90deg);
        align-self: center;
    }
}