.block-audio {
    width: 1.5vh;
    height: 1.5vh;
    background-color: var(--yellow);
    border-radius: 50%;
    position: absolute;
    bottom: 20vh;
    left: 3vh;
    cursor: pointer;
    z-index: 5;
}