.root {
  width: 100%;
  height: 100vh;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.45vh;
  --gray: #8c8c8c;
  --font-family: "Century Gothic", sans-serif;
}