.journals__block {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.journals__block:hover {
    background-color: aliceblue;
}

.journals__block:hover .journal {
    color: black;
}