.app {
  width: 100%;
  min-height: 100vh;
  background: url(../../media/images/__background.jpg) center / cover no-repeat fixed;
  font-family: "Century Gothic", sans-serif;
  font-size: 1.45vh;
  --gray: #8c8c8c;
}

.disabled {
  display: none;
}

.text {
  color: #FFFFFF;
  margin: 0;
  font-size: 1.7em;
}