.about__names {
    padding-bottom: 10vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: end;
    justify-items: center;
}

@media (max-width: 450px) {
    .about__names {
        padding: 5vh 15vw 5vh 5vw;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;
    }
}