.language__option {
  margin: 0 0 0 1vh;
  font-size: 3vh;
  font-family: var(--font-family);
  color: #FFFFFF;
  text-decoration-line: none;
  text-transform: uppercase;
  transition: opacity 0.4s;
}

.language__option:hover {
  opacity: 0.8;
}

.language__option:first-of-type {
  margin: 0;
}
