.popup_condition_closed {
    animation: closing 1s forwards;
}

@keyframes closing {
    0% {
        opacity: 1;
        z-index: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        z-index: -1;
    }
}